@font-face{
    font-family: 'MyFont';
    src: url('./fontawesome-webfont.woff2') format('woff2');         
    font-weight: 1000;
    font-style: normal;
}



.hello {
    color:red;
    background: url('./icon.jpg');
    font-family: 'MyFont'; 
}