@font-face{
    font-family: 'MyFont';
    src: url('./fontawesome-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'MyFont2';
    src: url('./Blacksword.otf') format('otf');
    font-weight: 800;
}

.hello {
    color:red;
    background: url('./icon.jpg');
    font-family: 'MyFont2'; 
}